# Python
*.pyc
__pycache__/

# 환경 설정
.env

# Discord 봇 민감 파일
token.txt

# 실제 사용하는 DB 파일 (Git에서 제외)
database.json
users.json
transactions.json
inventory.json
items.json
point_log.json
admin_point_log.txt
